*{
    padding: 0;
    margin: 0;
}

body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

    background-color: #202124;
}

.link{
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin-left:1250px;
    margin-right: 40px;
    margin-top: 10px;
    justify-content: flex-end;
}

.link a{
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.link a:hover{
    text-decoration: underline;
}

.link img{
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

.title span{
    font-size: 100px;
    font-family: initial;
    color: #fff;
    font-weight: 800;
    margin-left: 220px;
}

.title{
    margin: 150px 400px;
}

.title .search-box{
    margin-left: 1px;
}

.search-box{
    margin: 25px 12px;
    background-color: #202124;
    height: 40px;
    width: 680px;
    border-radius: 19px;
    display: flex;
    border: none;
    align-items: center;
    border: 2px solid #ccc;
}

.search{
    display: flex;
    margin: 10px 20px;
    padding: 10px 20px;
    font-family: serif;
}

.search p{
    gap: 110px;
    
}

.search-btn {
    background-color: #303134;
    color: #fff;
    border: none;
    margin-left: 220px;
    border-radius: 6px;
    padding: 10px 20px;
}

.lucky-btn{
    background-color:#303134;
    color: #fff;
    border: none;
    margin-left: 20px;
    border-radius: 6px;
    padding: 10px 23px;
}

.search-btn:hover{
    border: 1px #5F6368 solid ;
    transition: border-color 0.2s border-style 0.2s;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.lucky-btn:hover{
    border: 1px #5F6368 solid ;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
}

.offered-in{
    margin-left: 315px;
    font-size: 17px;
    margin-top: 20px;
    line-height: 28px;
    color: #B0BFBF;
}

.offered-in a {
    color: #8ab4f8;
    text-decoration: none;
}


footer{
    background-color: #171717;
    border: 2px solid #1B1C1D;
    padding: 15px 9px;
    margin: 1px 0;
    color: white;
}

.footer-country{
    border-bottom: 1px solid #3c4043;
    padding-bottom: 10px ;
    padding-top: 1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}

.footer-left, .footer-right{
    display: flex;
    gap: 20px;
}

.footer-content a{
    padding: 5px ;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}